portainer.home.arpa {
	tls internal
	reverse_proxy portainer:9443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

proxmox.home.arpa {
	tls internal
	reverse_proxy 192.168.1.1:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

pihole.home.arpa {
	tls internal
	reverse_proxy 192.168.1.52:443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

immich.home.arpa {
	tls internal
	reverse_proxy 192.168.1.2:2283
}

vaultwarden.home.arpa {
	tls internal
	reverse_proxy vaultwarden:80
}
